html,
body {
    margin: 0;
    overflow: hidden;
    height: 100%;
}

/* Scale canvas with resize attribute to have space for buttons at the bottom */
canvas[resize] {
    width: 100%;
    height: 90%;
    touch-action: none;
}
